<!DOCTYPE html>
{% extends "ORWAapp/base.html" %}
	{% block body_block %}
		<title>Add partcode</title>
		<div class="container">
			<div class="jumbotron">
				<center>
					<h1>Add Parts to Sales orders</h1>
						<hr class="my-4">
						<p class="lead">Hi {{ insert_me }}. Complete the form to add a partcode to open ORWAs</p>
					<hr class="my-4">

					{% if added %}
						<h2> Thanks for adding an Part to sales order {{ order_number }} </h2>
						<h3> To add another click here </h3>
						<a class="btn btn-primary btn-lg" href="{% url 'ORWAapp:NewORWA' %}" role="button">Add another</a>
						<br><p></p>

					{% else %}
						<form enctype="multipart/form-data" class="" method="POST">
							{% csrf_token %}
								<table id="Add parts">
									{{ AddPartForm.as_table }}	
								</table>
							<br>
							<input type="submit" class = "btn btn-primary btn-lg" name="" value="Add part to Order">	
						</form	>
					{% endif %}
					<br>
					<a class="btn btn-outline-secondary btn-lg " href="{% url 'ORWAapp:PartTypes' %}" role="button">Add New type code</a>

				</center>

			<hr class="my-4">
			<a class="btn btn-primary btn-lg" href="{% url 'ORWAapp:home' %}" role="button">Back</a>
			</div>
		</div>
	{% endblock %}