<!DOCTYPE html>
{% extends "base.html" %}
	{% block body_block %}
		<title>Approve partcode</title>
		<div class="container">
			<div class="jumbotron">
				<center>
					<h1>Approve: {{ pd.part_code }} </h1>
						<hr class="my-4">
						<p class="lead">Hi {{ insert_me }}. Complete the form to aprrove {{ pd.part_code }} to sales order: {{ salesorder }}</p>
						<p class="lead"> Completed paperwork : <a href="/media/{{ salesorder.completed_paperwork }}" target="_blank">{{ salesorder }}-Done.pdf</a></p>
					<hr class="my-4">

					{% if issued %}

						<h2> No more parts are required for {{ salesorder }}. The ORWA has been issued</h2>
						<a class="btn btn-primary btn-lg" href="{% url 'ORWAapp:IssueEmail' salesorder %}" role="button">Home</a>


					{% elif added %}
						<h2> Thanks for approving a part on sales order: {{ salesorder }} </h2>
						<h3> To add approve another click here </h3>
						<a class="btn btn-primary btn-lg" href="{% url 'ORWAapp:Approve' %}" role="button">Add another</a>

					{% else %}
					
						<form enctype="multipart/form-data" class="" method="POST">
							{% csrf_token %}
								<table id="Add parts">
									{{ my_form.as_table }}	
							    </tr>			
								</table>
							<br>
							<input type="submit" class = "btn btn-primary btn-lg" name="" value="Approve {{pd.part_code}}">	
						</form	>
					{% endif %}
					<br>
				</center>
			<hr class="my-4">
			{% if not added %}
			<a class="btn btn-primary btn-lg" href="{% url 'ORWAapp:home' %}" role="button">Home</a>
			{% else %}
			{% endif %}
			</div>
		</div>
	{% endblock %}