<!DOCTYPE html>
{% extends "base.html" %}
	{% block body_block %}
		<title>Approve Parts</title>
		<div class="container">
			<div class="jumbotron">
				<center>
					<h1>Approve Part codes </h1>
						<hr class="my-4">
						<p class="lead">Hi {{ insert_me }}. Approve the uploaded part codes and sign off the ORWA's </p>
						<p class="lead"> Note: You cant view the items you added</p>
						<hr class="my-4">
						<table id="Approval">
						    <tr>
						        <th><strong>Part Code</strong></th>	  
						        <th><strong>Sales Order</strong></th>
						        <th><strong>Completed By</strong></th>
						        <th><strong>Completed Date</strong></th>
						        <th><strong>Size</strong></th>
						        <th><strong>Notes</strong></th>
						    </tr>
						    {% for p in Parts %}
						    <tr>
						    	<td><a href="{% url 'ORWAapp:ApprovePart' p.part_code %}">{{ p.part_code }}</a></td>
						        <td>{{ p.sales_order }}</td>
						        <td>{{ p.completed_by }}</td>
						        <td>{{ p.completed_date }}</td>
						        <td>{{ p.size }}</td>
						        <td>{{ p.notes }}</td>
						    </tr>
						    {% endfor %}
	    				</table>
				</center>
			<hr class="my-4">
			<a class="btn btn-primary btn-lg" href="{% url 'ORWAapp:home' %}" role="button">Back</a>
			</div>
		</div>
	{% endblock %}