<!DOCTYPE html>
{% extends "base.html" %}
	{% block body_block %}
		<title>Orwas</title>
		<div class="container">
			<div class="jumbotron">
			<center>
			<h1>ORWA's that need work this week</h1>
			<hr class="my-4">
				<p class="lead">Happy Monday! </p>
					<p class="lead">See the ORWA's still to do below.  </p>
			<hr class="my-4">
				
				<table>
				    <tr>
				        <th>Order Number</th>
				        <th>Customer</th>
				        <th>Entered Date</th>
				        <th>Order Date</th>
				        <th>Notes</th>
				        <th>Paperwork</th>
				        <th>Allocation</th>
				    </tr>
					    {% for od in SalesOrder %}
				    <tr>
	            		<td><a href="{% url 'ORWAapp:OrderDetail' od.order_number %}">{{ od.order_number }}</a></td>
				        <td>{{ od.customer }}</td>
				        <td>{{ od.entered_date }}</td>
				        <td>{{ od.order_date }}</td>
				        <td>{{ od.notes }}</td>
				        <td><a href="/media/{{ od.paperwork }}" target="_blank">{{ od.order_number }}</a></td>
				        <td>{{ od.allocated_to }}</td>
				    </tr>
					    
					    {% endfor %}
				</table>
				<hr class="my-4">
		</center>
	{% endblock %}