<!DOCTYPE html>
	{% block body_block %}
		<div class="container">
			<!-- <a href="live.pneumatrol.com"><img src="https://i.imgur.com/inV9PGY.png" alt="Not Found" style=""></a> -->
			<div class="jumbotron">
			<center>
			{% if posted %}

			<h1>New ORWA </h1>
			<hr class="my-4">
				<h2> </h2>
					<h3>See the new ORWA below. <h3>
			<hr class="my-4">
				
				<table style="width:100%;">
				    <tr>
				        <th>Order Number</th>
				        <th>Customer</th>
				        <th>Entered Date</th>
				        <th>Order Date</th>
				        <th>Notes</th>
				        <th>Paperwork</th>
				        <th>Allocation</th>
				    </tr>
			    {% for od in SalesOrder %}
				    <tr>
	            		<td>{{ od.order_number }}</td>
				        <td>{{ od.customer }}</td>
				        <td>{{ od.entered_date }}</td>
				        <td>{{ od.order_date }}</td>
				        <td>{{ od.notes }}</td>
				        <td><a href="live.pneumatrol.com" target="_blank">{{ od.order_number }}.pdf</a></td>
				        <td>{{ od.allocated_to }}</td>
				    </tr>
		    	{% endfor %}
			{% else %}

			<h1>ORWA Reminder</h1>
			<hr class="my-4">
				<h2>Happy Monday! </h2>
					<h3>See the ORWA's still to do below.  <h3>
			<hr class="my-4">
				
				<table style="width:100%;">
				    <tr>
				        <th>Order Number</th>
				        <th>Customer</th>
				        <th>Entered Date</th>
				        <th>Order Date</th>
				        <th>Notes</th>
				        <th>Paperwork</th>
				        <th>Allocation</th>
				    </tr>
					    {% for od in SalesOrder %}
				    <tr>
	            		<td>{{ od.order_number }}</td>
				        <td>{{ od.customer }}</td>
				        <td>{{ od.entered_date }}</td>
				        <td>{{ od.order_date }}</td>
				        <td>{{ od.notes }}</td>
				        <td><a href="live.pneumatrol.com" target="_blank">{{ od.order_number }}.pdf</a></td>
				        <td>{{ od.allocated_to }}</td>
				    </tr>
					    
					    {% endfor %}
				</table>
			<hr class="my-4">
			</center>
			{% endif %}
	{% endblock %}
