<!DOCTYPE html>
<!-- {% extends "base.html" %} -->
	{% block body_block %}
		<title>Orwas</title>
		<div class="container">
			<div class="jumbotron">
			<center>
			<h1>Issued ORWA : {{ salesdata.order_number }}</h1>
			<hr class="my-4">
				<h2>Hi Sales Team </h2>
					<p class="lead">Engineering have completed and issued the following ORWA.  </p>
			<hr class="my-4">
				
				<table>
				    <tr>
				        <th>Order Number</th>
				        <th>Customer</th>
				        <th>Entered Date</th>
				        <th>Order Date</th>
				        <th>Notes</th>
				        <th>Paperwork</th>
				        <th>Allocation</th>
				    </tr>
				    <tr>
	            		<td>{{ salesdata.order_number }}</td>
				        <td>{{ salesdata.customer }}</td>
				        <td>{{ salesdata.entered_date }}</td>
				        <td>{{ salesdata.order_date }}</td>
				        <td>{{ salesdata.notes }}</td>
				        <td><a href="/media/{{ salesdata.completed_paperwork }}" target="_blank">{{ salesdata.order_number }}.pdf</a></td>
				        <td>{{ salesdata.allocated_to }}</td>
				    </tr>  
				</table>
			<hr class="my-4">
		</center>
	{% endblock %}