<!DOCTYPE html>
{% extends "base.html" %}
	{% block body_block %}
		<title>ORWA's To do </title>
		<div class="container">
			<div class="jumbotron">
			<center>
			<h1>ORWA's that need work</h1>
			<hr class="my-4">
				<p class="lead">Hi {{ insert_me }}. See the ORWAS still to do below!.  </p>
			<hr class="my-4">
				
				{% if noORWA %}
					<h1> Well done! There are no ORWA's to complete. </h1>
				{% else %}
					
				<table>
				    <tr>
				        <th>Order Number</th>
				        <th>Customer</th>
				        <th>Entered Date</th>
				        <th>Order Date</th>
				        <th>Notes</th>
				        <th>Paperwork</th>
				        <th>Allocation</th>
				    </tr>
					    {% for od in SalesOrder %}
				    <tr>
	            		<td><a href="{% url 'ORWAapp:OrderDetail' od.order_number %}">{{ od.order_number }}</a></td>
				        <td>{{ od.customer }}</td>
				        <td>{{ od.entered_date }}</td>
				        <td>{{ od.order_date }}</td>
				        <td>{{ od.notes }}</td>
				        <td><a href="/media/{{ od.paperwork }}" target="_blank">{{ od.order_number }}</a></td>
				        <td>{{ od.allocated_to }}</td>
				        <td><a class="btn btn-primary btn-sm" href="{% url 'ORWAapp:Reject' od.order_number %}">Reject</a>
				    </tr>
					    {% endfor %}
				</table>

				
				{% endif %}
				<hr class="my-4">
		</center>
		</div>
		<hr class="my-4">
		<a class="btn btn-primary btn-lg" href="{% url 'ORWAapp:home' %}" role="button">Back</a>
		</div>
	{% endblock %}